<h1 class="mt-3">Calculo del número de fósforos por cada casa</h1>

<form action="/fosforos" method="post">
  <div class="form-group">
    <label for="monto">Ingrese el número de casas</label>
    <input type="text" name="houses" id="houses" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Calcular</button>
</form>